# Überschrift

## Unterüberschrift

das ist text

In [27]:
print ("Hello World")

Hello World

In [28]:
name = "Lovelace"

In [29]:
print (name)

Lovelace

In [30]:
age = 73

In [31]:
print (age)

73

In [32]:
size = 1.7123

In [33]:
print (size)

1.7123

In [34]:
# Boolscher Wert
knows_math = True
likes_slacking = False

In [35]:
type(size)

float

In [36]:
type(name)

str

In [37]:
# Operatoren
5 + 5

10

In [38]:
name + name

'LovelaceLovelace'

In [39]:
name * 100

'LovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelaceLovelace'

In [40]:
naeme + 10

NameError: name 'naeme' is not defined

In [ ]:
name + "10"

In [ ]:
name + str(age)

In [ ]:
new_number = "10"
int(new_number)

In [ ]:
type(new_number)

In [ ]:
name.upper()

In [ ]:
name.count("e")

In [ ]:
name.replace("lace", " is everywhere")

In [ ]:
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [41]:
names[2]

'Curie'

In [42]:
names[3]

'Hawking'

In [43]:
names[:2]

['Lovelace', 'Darwin']

In [48]:
#Dictionary
authors_and_birth_years = {"Lovelace":[1882,"London","1903"],
                        
                           "Darwin":1809,
                          "Noether":1882}

In [46]:
authors_and_birth_years["Darwin"]

1809

In [52]:
authors_and_birth_years["Lovelace"]

[1882, 'London', '1903']

In [53]:
authors_and_birth_years["Lovelace",[1]]

TypeError: unhashable type: 'list'

In [54]:
authors_and_birth_years["Lovelace"][1]

'London'

In [55]:
#for-Schleifen
names = ["Lovelace", "Darwin", "Curie", "Hawking"]

In [57]:
for name in names:
    print(name + " did awsome stuff")

Lovelace did awsome stuff
Darwin did awsome stuff
Curie did awsome stuff
Hawking did awsome stuff

In [59]:
# Conditionals - Bedingte Anweisungen
temp = 20

In [62]:
if temp > 15:
    print("It's warm")

In [63]:
temp > 15

True

In [75]:
temp = 15
if temp == 20:
    print("It's perfect")
elif temp >= 15:
   print("It's warm")
else:
    print("It's cold")

It's warm